<div class="container">
    <div class="col-md-3">
        <div class="css-treeview">
            <h4>TÀI KHOẢN</h4>
            <ul class="account-manager">
                <a href="/account">
                    <li class="selected">Cập nhật thông tin</li>
                </a>
                <a href="/account/password">
                    <li>Đổi mật khẩu</li>
                </a>
                <a href="/account/orders">
                    <li>Xem đơn hàng</li>
                </a>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-9">
        {{#if update_succ}}
        <div class="alert alert-success" role="alert" style="text-align: center">Cập nhật thông tin thành công</div>
        {{/if}}
        <div class="account-update-info">
            <h4>Cập nhật thông tin cá nhân</h4>
            <form action="/account" method="post">
                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" class="form-control" disabled value="{{user.email}}">
                </div>
                <div class="form-group">
                    <label>Họ tên:</label>
                    <input type="text" class="form-control" name="name" value="{{user.hoten}}">
                </div>
                <div class="form-group">
                    <label>Số điện thoại:</label>
                    <input type="text" class="form-control" name="phone" value="{{user.sdt}}">
                </div>
                <div style="text-align: center">
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                    <button type="reset" class="btn btn-danger">Hủy bỏ</button>
                </div>

            </form>
        </div>
        {{!--
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tên máy ảnh</th>
                    <th>Loại máy</th>
                    <th>Giá tiền</th>
                    <th>Nhà sản xuất</th>
                    <th>Chỉnh sửa</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Canon powershot d30</td>
                    <td>Compact</td>
                    <td>8.000.000 VND</td>
                    <td>Canon</td>
                    <td>
                        <a href="#" class="btn btn-info">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="#" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Panasonic g80</td>
                    <td>Mirrorless</td>
                    <td>32.000.000 VND</td>
                    <td>Panasonic</td>
                    <td>
                        <a href="#" class="btn btn-info">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="#" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Nikon d5500</td>
                    <td>DSLR</td>
                    <td>162.000.000 VND</td>
                    <td>Nikon</td>
                    <td>
                        <a href="#" class="btn btn-info">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="#" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-danger">Thêm sản phẩm</button> --}}
    </div>
    <div class="clearfix"></div>
</div>