	<!--/contact-->
	<div class="banner_bottom_agile_info">
		<div class="container">
			<div class="contact-grid-agile-w3s">
				<div class="col-md-4 contact-grid-agile-w3">
					<div class="contact-grid-agile-w31">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
						<h4>Địa chỉ</h4>
						<p>227 Nguyễn Văn Cừ, Quận 5
							<span>Tp Hồ Chí Minh, Việt Nam.</span>
						</p>
					</div>
				</div>
				<div class="col-md-4 contact-grid-agile-w3">
					<div class="contact-grid-agile-w32">
						<i class="fa fa-phone" aria-hidden="true"></i>
						<h4>Điện thoại</h4>
						<p>+84 981864481
							<span>+84 1234416048</span>
						</p>
					</div>
				</div>
				<div class="col-md-4 contact-grid-agile-w3">
					<div class="contact-grid-agile-w33">
						<i class="fa fa-envelope-o" aria-hidden="true"></i>
						<h4>Email</h4>
						<p>
							<a href="mailto:cskh@camshop.com">cskh@camshop.com</a>
							<span>
								<a href="mailto:cskhpuhshop@gmail.com">cskh_camshop@gmail.com</a>
							</span>
						</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="container contact-w3-agile1 map" data-aos="flip-right">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6372153813923!2d106.67900811435021!3d10.762417592330994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1bfc262bf1%3A0x4e843897f2900135!2zMjI3IMSQxrDhu51uZyBOZ3V54buFbiBWxINuIEPhu6ssIHBoxrDhu51uZyA0LCBRdeG6rW4gNSwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1524491787909"
		    class="map" style="border:0" allowfullscreen=""></iframe>
	</div>
	<!--//contact-->
	
	
