<link rel="stylesheet" href="/rsc/css/nouislider.min.css">
<div class="container search-area">
    <h3 class="title">Tìm kiếm máy ảnh</h3>
    <form action="/search/list" method="get" id="search_form">
        <div class="form-group">
            <label for="name">Tên máy:</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="slider-area">
            <label for="price-slider">Giá bán (VND):</label>
            <div id="price-slider"></div>
            <span id="price-lower-value">0</span>
            <span id="price-upper-value">0</span>
            <div class="clearfix"></div>
        </div>
        <div class="form-group">
            <label for="brand">Thương hiệu:</label>
            <select class="form-control" id="brand" name="brand">
                <option value="all">Tất cả</option>
                {{#each brands}}
                <option>{{nhasanxuat}}</option>
                {{/each}}
            </select>
        </div>
        <div>
            <div class="form-group search-form-left">
                <label for="type">Loại máy:</label>
                <select class="form-control" id="type" name="type">
                    <option value="all">Tất cả</option>
                    {{#each types}}
                    <option value="{{loai}}">{{tenloai}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group search-form-right">
                <label for="nation">Xuất xứ:</label>
                <select class="form-control" id="nation" name="nation">
                    <option value="all">Tất cả</option>
                    {{#each nations}}
                    <option>{{this.xuatxu}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div style="text-align: center">
            <button type="submit" class="btn btn-success" id="submitbtn">Tìm kiếm</button>
        </div>
    </form>
</div>
<script src="/rsc/js/nouislider.min.js"></script>
<script src="/rsc/js/wNumb.js"></script>
<script>
    var slider = document.getElementById('price-slider');
    var nodes = [
        document.getElementById('price-lower-value'),
        document.getElementById('price-upper-value')
    ];

    noUiSlider.create(slider, {
        connect: true,
        behaviour: 'tap',
        start: [0, 100000000],
        step: 5000000,
        range: {
            'min': [0],
            'max': [100000000]
        },
        format: wNumb({
            decimals: 0,
        })
    });

    slider.noUiSlider.on('update', function (values, handle, unencoded, isTap, positions) {
        nodes[handle].innerHTML = formatPrice(values[handle]);
    });

    $('#search_form').submit(function (eventObject) {
        var minPrice = slider.noUiSlider.get()[0];
        var maxPrice = slider.noUiSlider.get()[1];
        console.log(minPrice, maxPrice);
        $('<input>').attr('type', 'hidden')
            .attr('name', 'min').val(minPrice)
            .appendTo(this);
        $('<input>').attr('type', 'hidden')
            .attr('name', 'max').val(maxPrice)
            .appendTo(this);
        return true;
    });

    function formatPrice(strInput) {
        var result = '';
        var sub;
        var inputLength = strInput.length;
        while (inputLength > 3) {
            sub = '.' + strInput.slice(inputLength - 3, inputLength);
            inputLength = inputLength - 3;
            result = sub.concat(result);
        }
        sub = strInput.slice(0, inputLength);
        result = sub.concat(result);
        return result;
    }
</script>